/* Aqui empieza CSS de register y sign in*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Nunito', sans-serif;
    background: rgb(229, 236, 241);
}

.form{
    max-width: 500px;
    width: 100%;
    background: white;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    font-size: 12px;
}

.form .title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
    text-align: center;
    background-color: aquamarine;
    border: black .5px solid;
}

.form .Basic_information label{
    margin-bottom: 15px;
    display: inline-flex;

}

.form .information {
    margin-bottom: 5px;
}


.form .personal-information {
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.form .resume-interest {
    position: relative;
}

.form .resumen {
    position: relative;
    left: 31%;
    margin-bottom: 25px;
    
}

.form .boton{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: #0a65f6;
    position: relative;
    left: 80%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;

  }
  .form .boton:hover{
    color: #0648ff;
    background-color: #f7fbfd;
   
  }

/* Aqui termina CSS de register y sign in*/

/* Aqui empieza CSS de Main Screen*/


.Encabezado {
    padding-left: 100%;
    padding-bottom: 8%;
    background-color: white;
    position: absolute;
}

.logo {
    position: absolute;
    margin-top: 2%;
    margin-left: 3%;
    float: left; 
    width: 200px;
}

.boton1{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    position: absolute;
    left: 83%;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: black 2px solid;
    

  }
  .boton1:hover{
    color: #0648ff;
    background-color: #f7fbfd;
   
  }

  .boton2{

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    background-color: #ffffff;
    position: absolute;
    left: 90%;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: black 2px solid;

  }
  .boton2:hover{
    color: #0648ff;
    background-color: #f7fbfd;
   
  }

  .Texto-bienvenida{
      text-align: center;
      position: absolute;
      margin-top: 5%;
      margin-left: 10%;
      color: white;
      font-size: 22px;
  }

  .Bienvenida{
    width: 100%;
    height: 40%;
    margin-top: 8%;
    background-color: rgb(12, 92, 241);
    position: absolute;
  }

  .welcomeimag {
    position: absolute;
    margin-top: 10%;
    margin-left: 60%;
    float: left; 
    width: 450px;
    height: 250px;
}

.Busqueda{
  width: 100%;
  height: 16%;
  margin-top: 31%;
  background-color: rgb(194, 236, 255);
  position: absolute;
}

.Texto-busqueda{
  text-align: center;
  position: absolute;
  margin-top: 1%;
  margin-left: 5%;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.field {
  display:flex;
  position:realtive;
  margin:3em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(22, 160, 133),
   2px 2px 0 rgb(22, 160, 133),
   3px 3px 0 rgb(22, 160, 133),
   4px 4px 0 rgb(22, 160, 133),
   5px 5px 0 rgb(22, 160, 133),
   6px 6px 0 rgb(22, 160, 133),
   7px 7px 0 rgb(22, 160, 133)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(26, 188, 156);
  color: black;
  border:none;
}

.What-is-back{
  width: 100%;
  height: 230%;
  margin-top: 40%;
  background-color: rgb(5, 206, 179);
  position: absolute;
}

.What-is-front{
  width: 90%;
  height: 90%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(101, 246, 227);
  position: absolute;
  border: black 2px solid;
}

.Texto-whatis{
  text-align: center;
  position: absolute;
  margin-top: 2%;
  margin-left: 5%;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

.Texto-what{
  text-align: center;
  position: absolute;
  margin-top: 6%;
  margin-left: 18%;
  color: rgb(0, 0, 0);
  font-size: 14px;
  
}

.what-is-image {
  position: absolute;
  margin-top: 16%;
  margin-left: 30%;
  float: left; 
  width: 450px;
  height: 250px;
}

.Vision{
	text-align: center;
	margin-top: 42%;
    margin-left: 2%;
	background-color: rgb(5, 206, 179);
	position: absolute;
	width: 350px;
	height: 770px;
	border: black 2px solid;
}

.titulo-vision{
	background-color: white;
	border: black 1px solid;
}

.Mission{
	text-align: center;
	margin-top: 42%;
    margin-left: 36%;
	background-color: rgb(5, 206, 179);
	position: absolute;	
	width: 350px;
	height: 770px;
	border: black 2px solid;
}

.titulo-mission{
	background-color: white;
	border: black 1px solid;
}

.Values{
	text-align: center;
	margin-top: 42%;
    margin-left: 69%;
	background-color: rgb(5, 206, 179);
	position: absolute;
	width: 350px;
	height: 770px;	
	border: black 2px solid;
}

.titulo-values{
	background-color: white;
	border: black 1px solid;
}


/* Aqui termina CSS de Main Screen*/
