/* Aqui empieza CSS de register y sign in*/

a { 
  text-decoration: none; 
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
}

h1 {
  margin-left: 15%;
  margin-right: 15%;
  font-weight: lighter;
  font-size: 28pt;
  color: #1B5783;
}

h1.login {
  margin-left: 15%;
  margin-right: 15%;
}
h1.register {
  margin-left: 0%;
  margin-right: 0%;
}

h2{
  margin-top: 0px;
  margin-bottom: 60px;

  font-weight: lighter;
  font-size: 18pt;
  text-align: center;
}

img.main{
  width: 100%;
  margin-bottom: 0px;
}

img.field{
  width: 4%;
  margin-bottom: 0px;
}

.form{  
  width: 50%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  font-size: 12px;
  max-width: 500px;
}

label.login_field{
  font-weight: lighter;
  font-size: 14pt;
  color: rgb(64, 64, 64);
  margin-left: 15%;
  margin-right: 15%;
}

label.register_field{
  font-weight: lighter;
  font-size: 14pt;
  color: rgb(64, 64, 64);
  margin-left: 0%;
  margin-right: 0%;
  padding-bottom: 1.5%;
  display:inline-block;
}

label.register_fieldset{
  font-weight: lighter;
  font-size: 16pt;
  color: rgb(36, 36, 36);
  margin-left: 0%;
  margin-right: 0%;
}

label.register_spec{
  font-weight: lighter;
  font-size: 11pt;
  color: rgb(114, 114, 114);
  margin-left: 0%;
  margin-right: 0%;
}

label.login_spec{
  font-weight: lighter;
  font-size: 11pt;
  color: rgb(114, 114, 114);
  margin-left: 15%;
  margin-right: 15%;
}

label.register_spec{
  font-weight: lighter;
  font-size: 11pt;
  color: rgb(114, 114, 114);
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 5%;
  display: inline-block;
}

textarea {
  font-size: 12px;
  color: rgb(64, 64, 64);
}

input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 20px;
}

input.login {
  margin-left: 15%;
  margin-right: 15%;
  width: 68%;
  height: 30px;
}

input.register {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
  height: 25px;  
}

input.numeric {
  font-size: 15px;
  margin-left: 2%;
  margin-right: 0%;
  width: 20%;
  height: 15px;  
}

select {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 2%;
  margin-right: 0%;
  width: 150px;
  height: 20px;  
}

button{
  color: white;
  background-color: #2f5597;
  border: solid #2f5597;
  font-weight: lighter;
  font-size: 20px;
  border-width: 0px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  padding-right: 4%;   
  
  cursor: pointer;
}

button.login{
  margin-top: 5%;
  margin-left: 15%;
}

button.register{
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 2%;
}

button.changelogin {
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 5%;  
  padding-left: 5%;
  padding-right: 5%;  
  background-color: #777676;
  border: solid #777676;
  border-width: 0px;
}

